@use "./variables";

.mainHeader {
    background-color: variables.$primaryBg;
    width: 100%;
    height: 100vh;
    // position: relative;
    // outline: 2px solid red;
}

.headerContainer {    
    width: 90%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.5)), url(../assets/header_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
    right: 0;
    bottom: -15%;
    .leftEl {
        width: 80px;
        background-color: variables.$primaryColor;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        color: variables.$navTxtColor;
        .leftTxtEl {
            width: 400px;
            align-self: center;
            justify-self: flex-start;
            position: relative;
            top: 25%;
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 7px;
            // writing-mode:sideways-lr;
           transform: rotate(-90deg);
        }
        ul {
            padding: 0;
            // position: absolute;
            // left: 0;
            // bottom: 0;
            align-self: center;
            li {
                margin-bottom: 20px;
                a {
                    padding: 5px;
                }
            }
            
            i {
                color: variables.$navTxtColor;
            }
        }
    }
    
}

// OUR PROJECTS PAGE

.mainHeaderProjects {
    background-color: variables.$primaryBg;
    width: 100%;
    height: 70vh;
    .textEl {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 3rem;
            text-align: center;
            color: variables.$tertinary;
            margin: 0;
            z-index: 1;
        }
    }
}

.projectsHeaderContainer {    
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.5)), url(../assets/projects_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    .leftEl {
        width: 80px;
        // background-color: variables.$primaryColor;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        color: variables.$navTxtColor;
        .leftTxtEl {
            width: 400px;
            align-self: center;
            justify-self: flex-start;
            position: relative;
            top: 33%;
            font-size: 0.7rem;
            text-transform: uppercase;
            letter-spacing: 5px;
            transform: rotate(-90deg);
        }
        ul {
            padding: 0;
            margin-bottom: 5px;
            align-self: center;
            li {
                margin-bottom: 10px;
                a {
                    padding: 5px;
                }
            }
            
            i {
                color: variables.$navTxtColor;
            }
        }
    }
    
    
}

