@use "./variables";


// 1380px and under
@media (max-width: 1380px) {

    // NAV SECTION
    .flexNav {
        li {
            a {
                font-size: 0.7rem;
            }
        }
    }

    .contactNav {
        font-size: 0.6rem;

        li {
            &:first-child {
                border-right: none;
            }
        }
    }

    .logo {
        a {
            font-size: 1.4rem;
        }
    }

    // ********************************OUR PROJECTS PAGE

    .projectsContainer {
        .projectsImgBox {
            width: 32%;

            .imgBox {
                width: 100%;
                height: 550px;

                p {
                    left: -20%;
                    top: 15%;
                }
            }
            .imgBoxInterior {
                width: 100%;
                height: 550px;
    
                p {
                    left: -20%;
                    top: 15%;
                }
            }
        }
    }
}
