@use "./variables";

// 610px and under
@media (max-width: 610px) {
    .logo {
        width: 25%;
        visibility: visible;
        position: relative;
        left: 15%;
    }

    .contactNav {
        padding: 0;

        a {
            font-size: 0.48rem;
        }

        .fa-phone {
            font-size: 0.4rem;
            background-color: variables.$primaryColor;
            padding: 3px;
            border-radius: 4px;

        }

        .fa-envelope {
            font-size: 0.7rem;
            color: variables.$primaryColor;
            padding: 3px;
            border-radius: 4px;
        }
    }

    // **************************************** HOME PAGE
    // WELCOME SECTION
    .hFiveEl {
        text-align: center;
    }

    .welcomeTxtContainer {
        h2 {
            text-align: center;
        }

    }

    .welcomeContainer {
        flex-direction: column-reverse;

        .welcomeImgContainer {
            width: 100%;

            .welcomeImgOne {
                width: 90%;
                margin: 0;
            }

            .welcomeImgTwo {
                width: 55%;
                right: 0%;
            }

            .welcomeImgPara {
                width: 55%;
                left: 0;
            }
        }
    }

    // RECENT PROJECT SECTION
    .recentProjectContainer {

        .recentProjectBoxContainer {
            .recentProjectBox {
                width: 80%;
            }
        }
    }

    // **************************************** OUR PROJECTS PAGE
    .mainHeaderProjects {
        .textEl {
            h1 {
                font-size: 2.5rem;
            }
        }
    }

    // OUR PROJECTS SECTION
    .projectsContainer {
        .projectsImgBox {
            width: 80%;
        }
    }

    // **************************************** OCONTACT US PAGE
    .contactUsContainer {
        width: 100%;
        h2 {
            text-align: center;
            font-size: 1.6rem;
        }

        .contactForm {
            form {
                .row {
                    width: 100%;
                }

                button {
                    width: 30%;
                }
            }
        }
    }

}