@use "./variables";

@media (max-width: 1080px) {
    .wrapper {
        width: 90%;
    }

    // ******************************* HOME PAGE
    // NAV SECTION

    .logo {
        a {
            font-size: 1rem;
    }
}

    .flexNav {
        li {
            a {
                font-size: 0.6rem;
            }
         }
    }
    .contactNav {
        font-size: 0.4rem;
        li {
            &:first-child {
                border-right: none;
            } 
        }
    } 

     // WELCOME SECTION

    .welcomeContainer {
        .welcomeImgContainer {

            .welcomeImgOne {
                width: 80%;
            }

            .welcomeImgTwo {
                right: 8%;
            }

            .welcomeImgPara {
                width: 60%;
                p {
                    font-size: 0.7rem;
                    padding: 15px;

                    span {
                        font-weight: 500;
                        font-size: 1.2rem;
                    }
                }
            }

        }
    }


}
