@use "./variables";

@media (max-width: 1275px) {
    .wrapper {
        width: 85%;
    }

    // ******************************* HOME PAGE
    // NAV SECTION

    .logo {
        a {
            font-size: 1.2rem;
        }
    }

    .flexNav {
        li {
            a {
                font-size: 0.7rem;
            }
        }
    }

    .contactNav {
        font-size: 0.5rem;

        li {
            &:first-child {
                border-right: none;
            }
        }
    }

    // WELCOME SECTION

    .welcomeContainer {
        .welcomeImgContainer {

            .welcomeImgOne {
                width: 70%;
            }

            .welcomeImgTwo {
                right: 12%;
            }

            .welcomeImgPara {

                p {
                    font-size: 0.7rem;
                    padding: 15px;

                    span {
                        font-weight: 500;
                        font-size: 1.2rem;
                    }
                }
            }

        }
    }
}