@use "./variables";

html {
    font-size: 125%;
}

body {
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}


.hFiveEl {
    margin: 0;
    text-transform: uppercase;
    color: variables.$primaryColor;
    font-weight: 500;
    letter-spacing: 0;
}
p {
    margin: 0;
}