    // font-family: 'Montserrat', sans-serif;

    // font-family: 'Poppins', sans-serif;

    // font-family: 'Roboto', sans-serif;


// COLORS
$primaryBg: #252733;
$secondaryBg: #FFF;
$tertinary: #f3f3f3;

$primaryColor: #f47f4a;

$navBorderColor: #3b3d49;

$navTxtColor: #FFF;
$navBg: #252733a3;

$lightTxtColor: #76798f;
$primaryTxtColor: #FFF;
$secondaryTxtColor: #252733;

$borderBottomColor: #d2d3d6;